*{
    margin: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}
.common-btn{
    height: 4em;
    background: #FF900E;
    border-radius: 0.5em;
    color:#FFFFFF;
    border: 0 ;
    font-weight: 600;
    font-size: 0.8em;
}
/* .hero-section */
.hero-section{
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-info{
    text-align: center;
    padding-top: 100px;
    width: 60%;
    
}

.hero-info h2{
    color: #131313;
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 30px;
   
}
.hero-info p{
    color: #727272;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 30px;
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.813em 6.25em;
}
.hero-img img{
    width: 100%;
    
}
