
 
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}
.common-btn{
    
    background: #FF900E;
    border-radius: 0.5em;
    color:#FFFFFF;
    border: 0 ;
    font-weight: 600;
    font-size: 0.8em;
    padding: 0.938em;
}


/* .hero-section */
.hero-section{
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-info{
    text-align: center;
    padding-top: 100px;
    width: 60%;
    margin-bottom: 50px;
    
}

.hero-info h2{
    color: #131313;
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 30px;
   
}
.hero-info p{
    color: #727272;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 30px;
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-bottom: 30px;


}
.hero-img img{
    width: 100%;
    
}

/* future section */
.future-section{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 80px;
    margin-bottom: 100px;

}
.future-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    width: 80%;
}
.future-images img{
    width: 100%;
}

.future-info{
    width: 100%;
    margin-left: 70px;

}
.future-tittle{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 20px;
}
.future-tittle-s1{
    color: #131313;
}
.future-tittle-s2{
    color: #FF900E;
}
.future-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 20px;
}


/* feature-section */
.features-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.feature-info{
width: 45%;
}
.feature-tittle{
    font-weight: 700;
    font-size: 45px;
    border-left:3px solid  #FF900E;
    margin-bottom: 10px;
    color: #131313;
}
.feature-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    color: #727272;
}
.feature-boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.feature-boxes h4{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.feature-boxes p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.box{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;

}
    

.feature-img{
width: 45%;
}
.feature-img img{
    width: 100%;

}

.experience-box{
    width: 342px;
   height: 200px;
    background: #FF900E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 550px;
    bottom: 150px;
}
.experience-box h3{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
}
.experience-box p{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px
}

/* <!-- fact section --> */
.facts{
}
.fact-info{
    padding: 50px;
    margin-bottom: 20px;


}
.fact-info h3{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}
.fact-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.fact-boxs{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 50px;
}
.fact-boxs .box{
    display: flex;border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 2s, height 4s;
    margin-bottom: 100px;
}
.fact-boxs .box:hover{
    transform: rotate(90deg);
}
.box img{
    width: 45px;
}


/* sponser section */


.sponser-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.sponser-info{
width: 60%;
margin-bottom: 30px;
}
.sponser-info h3{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;

}
.sponser-info p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;

}

ponsers-imgs
.sponser-img1{
    background-image: url(../images/sponsors/amazon.png);

}
.sponser-img2{
    background-image: url(../images/sponsors/figma.png);
    
}
.sponser-img3{
    background-image: url(../images/sponsors/google.png);
}
.sponser-img4{
    background-image: url(../images/sponsors/spotify.png);
}
.sponser-img5{
    background-image: url(../images/sponsors/telerama.png);
}




    




















/* responsive section: */




/* for mobile */
@media only screen and (max-width: 576px) {
    .common-btn {
        padding: 10px;
    }


    /* responsive for hero section */
    .common-btn {
        height: 2.5em;
    }
    .hero-info {
        width: 100%;

    }

    .hero-info h2{
        font-size: 2em;

    }
    .hero-info p{
        font-size: 0.9em;
        padding: 15px;

    }
/* future section */
.future-section{
    flex-direction: column;
      padding-left: 0px; 
      padding-right: 0px;
       
 }
 .future-images{
     grid-template-columns: repeat(1,1fr);
     width: 90%;
 }
 .future-images img{
    
 }
 
 .future-info{
    margin-top: 30px;
    width: 80%;
    margin-left: 0;
 }
 .future-tittle{
     font-size: 35px;
 }
 

/* feature-section */
.features-section{
    flex-direction: column;
    padding: 15px;
}
.feature-info{
    width: 100%;
}
.feature-tittle{
    font-size: 30px;
    margin-bottom: 10px;
}

.feature-img{
    width: 95%;
}



.experience-box{
    display: none;
}

/* fact section */
.fact-info h3 {
    font-size: 30px;
}
.fact-info p {
    font-size: 13px;
}

.fact-boxs{

    flex-direction: column;
    gap: 10px;

}

.box:hover{
    display: none;
}


}










/* for tablet */

@media only screen and (min-width: 577px) and (max-width:768px) {

/*  hero section */

.common-btn {
    height: 3em;
}
.hero-info {
    width: 100%;

}

.hero-info h2{
    font-size: 3em;

}
.hero-info p{
    font-size: 1em;
    padding: 15px;

}
}


/* future section */

.future-tittle {
    font-size: 33px;
}
future-description {
    font-size: 13px;
}
  


 


